@*@model DomainModel.Entities.tblStagingEmployeesDEV

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblStagingEmployeesDEV</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblStagingLevel.level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblStagingLevel.level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StagingEmpID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
