
@{
    ViewBag.Title = "Test Raising PO";
}

<h2>Test Raising PO</h2>


<button type="button" value="Fetch Receipt Group" class="btn btn-default " onclick="window.location.href='@Url.Action("FirstScenario", "Test")'">1st scenario</button>
<button type="button" value="Fetch Receipt Group" class="btn btn-default " onclick="window.location.href='@Url.Action("SecondScenario", "Test")'">2nd scenario</button>
<button type="button" value="Fetch Receipt Group" class="btn btn-default " onclick="window.location.href='@Url.Action("ThirdScenario", "Test")'">3rd scenario</button>
<button type="button" value="Fetch Receipt Group" class="btn btn-default " onclick="window.location.href='@Url.Action("FourthScenario", "Test")'">4th scenario</button>
<button type="button" value="Fetch Receipt Group" class="btn btn-default " onclick="window.location.href='@Url.Action("FifthScenario", "Test")'">5th scenario</button>

