@model IEnumerable<EPOv2.ViewModels.OrderDashboardViewModel>

@if (Model.Any())
{
    <div class="table small" style=" max-width: 451px;">
        <table class="table">
            <tr>
               <th>
                    @Html.DisplayNameFor(model => model.TempOrderNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.TempOrderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }

        </table>
    </div>
}
