@model IEnumerable<EPOv2.ViewModels.OrderDashboardViewModel>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TempOrderNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isEditLocked)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TempOrderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isEditLocked)
                    </td>

                </tr>
            }

        </table>
