@model IEnumerable<DomainModel.Entities.Account>

@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Account</h2>

@Html.ActionLink("Create New","CreateAccount")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (item.Type == 1)
            {
                const string subAccount = "Sub Account";
                @subAccount;
            }
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>

        <td>
            <a href="@Url.Action("EditAccount", "Maintenance", new {id=item.Id})" class="btn btn-success control-btn-crud">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a href="@Url.Action("DeleteAccount", "Maintenance", new {id=item.Id})" class="btn btn-danger control-btn-crud">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
            <a href="@Url.Action("ActivateAccount", "Maintenance", new { id = item.Id })" class="btn btn-info control-btn-crud">
                <span class="glyphicon glyphicon-repeat"></span>
            </a>
        </td>
    </tr>
}

</table>
