@model List<EPOv2.ViewModels.OrderItemTableViewModel>
    @{
        bool isRestrictedEdit =Convert.ToBoolean(ViewData["IsRestrictedEdit"]);
    }
<table class="table table-condensed">
    <tr>
        <th>
            Line
        </th>
        <th>
            Rev
        </th>
        <th>
            Qty
        </th>
        <th>
            Details
        </th>
        <th>
            Account/Capex
        </th>
        <th>
            Sub
        </th>
        <th>
            Due Date
        </th>
        <th class="text-right">
            ex GST Price
        </th>
        <th class="text-right">
            GST Total
        </th>
        <th class="text-right">
            Line Total
        </th>
        <th>
           
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
         {
             <tr>
                 <td>
                     @Html.HiddenFor(x=>item.Id)
                     @Html.HiddenFor(x=>item.CurrencyName)
                     @item.Line
                 </td>
                 <td>
                     @item.RevisionQty
                 </td>
                 <td>
                     @item.Qty
                 </td>
                 <td>
                     @item.Description
                 </td>
                 <td>
                     @item.AccountName
                 </td>
                 <td>
                     @item.SubAccountName
                 </td>
                 <td>
                     @item.DueDate
                 </td>
                 <td class="text-right">
                    @item.CurrencyName.Substring(3, 1)@Html.DisplayFor(m => @item.TotalExTax)
                 </td>
                 <td class="text-right">
                    @item.CurrencyName.Substring(3, 1)@Html.DisplayFor(m => @item.TotalTax)
                 </td>
                 <td class="text-right">
                     @item.CurrencyName.Substring(3, 1)@Html.DisplayFor(m => @item.Total)


                     @if (item.isForeignCurrency)
                     {
                         var lB = "(";
                         var rB = ")";
                         @lB@Html.DisplayFor(m => item.ConvertedTotal, new { @class = "text-right" }) @rB;
                     }

                 </td>

                 <td>
                     <button type="button" value="@item.Id" id="EditItem-@item.Id" onclick="EditItem(this)" title="Edit item" class="btn btn-success control-btn-crud">
                         <span class="glyphicon glyphicon glyphicon-edit"></span>
                     </button>
                     @if (!isRestrictedEdit)
                     {
                         <button type="button" value="@item.Id" id="DeleteItem-@item.Id" onclick="DeleteItem(this)" title="Delete item" class="btn btn-danger control-btn-crud">
                             <span class="glyphicon glyphicon-trash"></span>
                         </button>
                     }
                 </td>
             </tr>
         }
    }
    
</table>