@model List<string>

@{
  ViewBag.Title = "Get AD Groups";
  Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Get AD Groups</h2>

@using (@Html.BeginForm())
{

    <div class="row">
        <div class="col-md-2">
            @Html.Label("User Name: ", new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            @Html.TextBox("UserName" ,null,new {@class = "form-control"})
        </div>
        <div class="col-md-2">
            <input type="submit" id="btn_adduser" class="btn btn-primary" value="Search" />
        </div>
    </div>
    
    
}
<hr/>
@{
    var i = 0;
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Group</th>
            </tr>
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@item</td>
                </tr>
            }
        </table>
    </div>
</div>
