@model EPOv2.ViewModels.ChangeVoucherStatusForm
@{
    ViewBag.Title = "Voucher Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    @*function ViewVoucher(object) {
        var itemID = object.value;
        $("#searchvoucher #SelectedInvoice").val(itemID);
        if (event.ctrlKey) {
            $('#SearchVoucherBtnForm').attr('target', '_blank').attr("Action", '@Url.Action("ViewInvoiceExternal", "Ettacher")').submit();
        } else {
            $('#SearchVoucherBtnForm').attr('target', '_self').attr("Action", '@Url.Action("ViewInvoiceExternal", "Ettacher")').submit();
        }
    }*@

    function searchVoucher() {
        var tNumber = $("#VoucherNumber").val();
       if (tNumber !== "") {
            $('#EPOloading1').removeClass('hidden');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("FetchVoucherForStatusChange")',
            cache: false,
            data: {
                voucherNumber: tNumber
            },
            error: function (xhr, status, error) {
                $(".alert").html(xhr.responseText);
                $('#div-voucherForm').empty();
                $('#EPOloading1').addClass('hidden');
            },
            success: function (result) {
                $('#EPOloading1').addClass('hidden');
                $('#div-voucherForm').empty();
                $('#div-voucherForm').html(result);

            }
        });}
    }

        function submitForm() {
            bootbox.confirm("Are you sure?", function (result) {
                if (result === true) {
                    var $form = $('form[id="VoucherStatusChange"]');
                  $.ajax({
                        type: 'POST',
                        url: '@Url.Action("VoucherStatusChange")',
                        data: $form.serialize(),
                        cache: false,
                        error: function (xhr, status, error) {
                            $('#ErrorAlert').show(400).fadeIn().delay(2500).hide(600).fadeOut();
                        },
                        success: function (result) {
                            $('#SaveAlert').show(500).fadeIn().delay(1000).hide(500).fadeOut();
                        }
                    });
                }
            });
        }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode !== 46 && charCode !== 45 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
<br />
<div class="row">
    <div class="col-md-12">
        <div id="div-voucherForm">
            <div class="col-md-6">
                <div class="panel panel-info ">
                    <div class="panel-heading">
                        <span class="panel-title">Change Voucher Status</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">Voucher #</div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => Model.VoucherNumber, null, new { @class = "form-control input-sm", @onkeypress = "return isNumberKey(event)" })
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-default btn-sm" onclick="searchVoucher()">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @*@using (@Html.BeginForm("ViewInvoiceExternal", "Ettacher", FormMethod.Post, new { id = "SearchVoucherBtnForm" }))
    {
        @Html.Hidden("SelectedItem", new { id = "SelectedInvoice" })
    }*@
    <div class="col-md-12">
        <div id="SaveAlert" class="alert alert-success" style="display: none;">Saved Successfully</div>
    </div>
    <div class="col-md-12">
        <div id="ErrorAlert" class="alert alert-danger" style="display: none;">Error! </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center hidden" id="EPOloading1">
            <div class="spinner spinner-info"></div>
        </div>
    </div>
</div>
