@model EPOv2.ViewModels.CapexDetailBox
    
<div class="row form-horizontal">
    <div class="form-group col-md-12">
        <label class="col-md-3 control-label">Title</label>
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Title, null, new { @class = "form-control input-sm" })
        </div>
    </div>

    <div class="form-group col-md-12">
        <label class="col-md-3 control-label">Description</label>
        <div class="col-md-9">
            @Html.TextAreaFor(m => m.Description, 4, 90, new { @class = "form-control input-sm" })
        </div>
    </div>



    <div class="form-group col-md-12">
        <label class="col-sm-3 control-label">State</label>
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.SelectedFilePath, null, new { type = "file", @class = "form-control input-sm btn"})
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(m => m.Reference, null, new { @class = "form-control input-sm", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group col-md-12">
        <label class="col-sm-3 control-label">Total Ex GST</label>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.TotalExGST, null, new { @class = "form-control input-sm text-right", @onkeypress = "return isNumberKey(event)" })
        </div>
    </div>
</div>
